#yellow_block{
    width:100px;
    height:100px;
    background-color: yellow;
}
.photo_column{
    background-color: darkgray;
    height:900px;
}
.photo_sm{
    width: 100%;
    height: 380px;
    background-color: wheat;
    margin-top: 20px;
    overflow: hidden;
}
.photo_big{
    width: 100%;
    height: 480px;
    background-color: crimson;
    margin-top: 20px;
    overflow: hidden;
}
@media (min-width:575.98px ){
    #photo_gallery{
        background-color:bisque;
        height:3600px;
    }
    .video{
        margin-top: 20px;
        width: 100%;
        height:400px;
    }
}
@media (min-width:767.98px ){
    #photo_gallery{
        background-color:bisque;
        height:1800px;
    }
    .video{
        margin-top: 20px;
        width: 100%;
        height:600px;
    }
}
@media (min-width:991.98px ){
    #photo_gallery{
        background-color:bisque;
        height:900px;
    }
    .video{
        margin-top: 20px;
        width: 100%;
        height:800px;
    }
}